<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4 text-center">
      <br>
      <img class="rounded-circle" src="http://images.all-free-download.com/images/graphiclarge/blue_background_clock_icon_vector_280580.jpg" alt="Generic placeholder image" width="140" height="140" (click)="goClock()">
      <h2 (click)="goClock()" >Clock</h2>
      <br>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <img class="rounded-circle" src="https://pbs.twimg.com/profile_images/475446520578207745/HBom6Kjp_400x400.png" alt="Generic placeholder image"  width="170" height="170"(click)="goWeather()">
      <h2 (click)="goWeather()">Weather</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <br>
      <img class="rounded-circle" src="http://icons.iconarchive.com/icons/vcferreira/firefox-os/256/gallery-icon.png" alt="Generic placeholder image" width="140" height="140" (click)="goGallery()">
      <h2 (click)="goGallery()">Gallery</h2>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  </div><!-- /.container -->

 