<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4 text-center">
      <br>
      <a [routerLink]="['/clock']">
        <img class="rounded-circle" src="./images/icons/clock.jpg" alt="Clock" width="140" height="140">
        <h2>Clock</h2>
      </a>
      
      <br>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <a [routerLink]="['/weather']">
        <img class="rounded-circle" src="./images/icons/weather.png" alt="Weather"  width="170" height="170">
        <h2>Weather</h2>
      </a>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <br>
      <a [routerLink]="['/gallery']">
        <img class="rounded-circle" src="./images/icons/gallery.png" alt="Gallery" width="140" height="140">
        <h2>Gallery</h2>
      </a>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  </div><!-- /.container -->

 