
  <ngb-carousel class="carousel">
    <ng-template ngbSlide>
      <div class="item active">
        <img class="first-slide" src="../../images/b.jpg" alt="First slide" >

          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="item">
        <img class="second-slide" src="../../images/a.jpg" alt="Second slide">

        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>

        </div>

      </div>
    </ng-template>
    <ng-template ngbSlide>
    <div class="item">
      <img class="third-slide" src="../../images/c.jpg" alt="Third slide">
      <div class="carousel-caption">
        <h1>Another example headline.</h1>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>

      </div>
    </div>
    </ng-template>
  </ngb-carousel>

  <router-outlet></router-outlet>
  <br>
  <br>
  <br>
  <!-- FOOTER -->
  <div class="sticky-top">
    <footer >
      <p class="pull-left"><a [routerLink]="['/home']">Back to home</a></p>
      <p class="text-center">&copy; 2017 Company, Inc. &middot;</p>
    </footer>
  </div>
