
  <ngb-carousel class="carousel">
    <ng-template ngbSlide>
      <div class="item active">
        <img class="first-slide" src="./images/b.jpg" alt="First slide" >
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="item">
        <img class="second-slide" src="./images/a.jpg" alt="Second slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="item">
        <img class="third-slide" src="./images/c.jpg" alt="Third slide">
      </div>
    </ng-template>
  </ngb-carousel>

  <router-outlet></router-outlet>
  <br>
  <br>
  <br>
  <!-- FOOTER -->
  <div class="sticky-top">
    <footer >
      <p class="pull-left"><a [routerLink]="['/home']">Back to home</a></p>
    </footer>
  </div>
